<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div
        class="d-flex justify-content-center col-lg-6 col-md-6 col-xl-6 align-self-center"
      >
        <div>
          Icarus Project
        </div>
      </div>
      <div
        class="d-flex justify-content-center col-lg-6 col-md-6 col-xl-6 align-self-center"
      >
        <div class="copyright">
          &copy;
          {{ test | date: "yyyy" }}
        </div>
      </div>
    </div>
  </div>
</footer>
